[Unit]
Description=Deploy Service

[Service]
WorkingDirectory=/root/validator-bond-tool
ExecStart=/bin/bash -c "PORT=3007 PATH=/root/.nvm/versions/node/v18.9.0/bin/:$PATH /root/.nvm/versions/node/v18.9.0/bin/npm start"

[Install]
WantedBy=multi-user.target